*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

.window{
    width: 920px;
    height: 460px;
    overflow: hidden;
    box-shadow: 0 1px 3px 1px rgba(102,102,102,.5);
}

.images{
    display: flex;
    transition: all 1s;
}
.images > img{
    width: 100%;
}

.container{
    width: 920px;
    margin: 0 auto 50px;
    position: relative;
}

