*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

.window{
    width: 750px;
    height: 360px;
    margin: 20px auto;
    overflow: hidden;
}

.images{
    display: flex;
    transition: all 1s;
}
.images > img{
    width: 100%;
}

.btn{
    text-align: center;
}

#controls{
    text-align: center;
}