*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.code-wrapper{
    flex: 1;
    height: 30%;
    overflow: hidden;
    padding: 10px;
}
.preview-wrapper{
    flex: 1;
    height: 70%;
}

.actions{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.actions > button:focus{
    outline: none;
}

