*{
    padding: 0;
    margin: 0;
}

.parent{
    border: 1px solid red;
    padding: 10px 0;
}

.son{
    box-sizing: border-box;
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    background: blue;
        float: left;
}

.clearfix{
    content: '';
    clear: both;
    display: block;
}