.test{
    position: relative;
}

.subMenu{
    color: #545a65;
    display: block;
    position: absolute;
    right: 110px;
    top: 0;
    background: white;
    padding: 22px 30px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    border: 1px solid red;
}

/*.topNavBar .subMenu li{*/
    /*white-space: nowrap;*/
/*}*/